.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

ul.headerlist {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    justify-items: center;
    list-style-type: none;
}