.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.headerlist {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    justify-items: c;
    list-style-type: none;
}