.product {
    margin-left: 10%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--product-background);
    padding: 3%;
    flex-direction: column;
}

.book:hover {
    border: solid var(--highlight);
}