.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
}

ul.list {
    display: flex;
    gap: 4rem;
    justify-content: baseline;
    list-style-type: none;
}