.layout {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 3vh;
    align-items: baseline;
}

.label {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.numberlist {
    align-items: center;
    font-size: 2rem;
}